/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    overflow: hidden;
} */

/* Boxes */

.box{
    height: 100vh;
    position: relative;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.inner-content{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h2{
    font-size: 70px;
    color: yellow;
}